.background-buildings, .foreground-buildings {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    position: absolute;
    top: 0;
}

.building-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.window-wrap {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.sky {
   animation: sky-animation 1.5s infinite linear;
}

@keyframes sky-animation {
    0% {
        background: radial-gradient(
            closest-corner circle at 15% 15%,
            #ffcf33,
            #ffcf33 20%,
            #ffff66 21%,
            #bbeeff 100%
        );
    }

    100% {
        background: radial-gradient(
            closest-corner circle at 15% 15%,
            #ffcf33,
            #ffcf33 25%,
            #ffff66 21%,
            #bbeeff 100%
        );
    }
}

.night-sky {
    background: radial-gradient(
            closest-corner circle at 15% 15%,
            #ccc,
            #ccc 20%,
            #445 21%,
            #223 100%
    );
}

/* BACKGROUND BUILDINGS */
.bb1 {
    width: 10%;
    height: 70%;
}

.bb1a {
    width: 70%;
}

.bb1b {
    width: 80%;
}

.bb1c {
    width: 90%;
}

.bb1d {
    width: 100%;
    height: 70%;
    background: linear-gradient(
            #aa80ff 50%,
            #bb99ff
    );
}

.night-bb1d {
    width: 100%;
    height: 70%;
    background: linear-gradient(
            #000 50%,
            #777
    );
}

.bb1-window {
    height: 10%;
    background: linear-gradient(
            #aa80ff,
            #bb99ff
    );
}

.night-bb1-window {
    height: 10%;
    background: linear-gradient(
            #000,
            #777
    );
}

.bb2 {
    width: 10%;
    height: 50%;
}

.bb2a {
    border-bottom: 5vh solid #66cc99;
    border-left: 5vw solid transparent;
    border-right: 5vw solid transparent;
}

.night-bb2a {
    border-bottom: 5vh solid #000;
    border-left: 5vw solid transparent;
    border-right: 5vw solid transparent;
}

.bb2b {
    width: 100%;
    height: 90%;
    background: repeating-linear-gradient(
            #66cc99,
            #66cc99 6%,
            #8cd9b3 6%,
            #8cd9b3 9%
    );
}

.night-bb2b {
    width: 100%;
    height: 90%;
    background: repeating-linear-gradient(
            #000,
            #000 6%,
            #777 6%,
            #777 9%
    );
}

.bb3 {
    width: 10%;
    height: 55%;
    background: repeating-linear-gradient(
            90deg,
            #cc6699,
            #cc6699,
            #d98cb3 15%
    );
}

.night-bb3 {
    width: 10%;
    height: 55%;
    background: repeating-linear-gradient(
            90deg,
            #000,
            #000,
            #777 15%
    );
}

.bb4 {
    width: 11%;
    height: 58%;
}

.bb4a {
    width: 3%;
    height: 10%;
    background-color: #538cc6;
}

.night-bb4a {
    width: 3%;
    height: 10%;
    background-color: #000;
}

.bb4b {
    width: 80%;
    height: 5%;
    background-color: #538cc6;
}

.night-bb4b {
    width: 80%;
    height: 5%;
    background-color: #000;
}

.bb4c {
    width: 100%;
    height: 85%;
    background-color: #538cc6;
}

.night-bb4c {
    width: 100%;
    height: 85%;
    background-color: #000;
}

.bb4-window {
    width: 18%;
    height: 25%;
    background-color: #8cb3d9;
}

.night-bb4-window {
    width: 18%;
    height: 25%;
    background-color: #777;
}

/* FOREGROUND BUILDINGS */
.fb1 {
    width: 10%;
    height: 60%;
}

.fb1a {
    border-bottom: 7vh solid #538cc6;
    border-left: 2vw solid transparent;
    border-right: 2vw solid transparent;
}

.night-fb1a {
    border-bottom: 7vh solid #000;
    border-left: 2vw solid transparent;
    border-right: 2vw solid transparent;
}

.fb1b {
    width: 60%;
    height: 10%;
    background-color: #538cc6;
}

.night-fb1b {
    width: 60%;
    height: 10%;
    background-color: #000;
}

.fb1c {
    width: 100%;
    height: 80%;
    background: repeating-linear-gradient(
            90deg,
            #538cc6,
            #538cc6 10%,
            transparent 10%,
            transparent 15%
    ),
    repeating-linear-gradient(
            #538cc6,
            #538cc6 10%,
            #8cb3d9 10%,
            #8cb3d9 90%
    );
}

.night-fb1c {
    width: 100%;
    height: 80%;
    background: repeating-linear-gradient(
            90deg,
            #000,
            #000 10%,
            transparent 10%,
            transparent 15%
    ),
    repeating-linear-gradient(
            #000,
            #000 10%,
            #777 10%,
            #777 90%
    );
}

.fb2 {
    width: 10%;
    height: 40%;
}

.fb2a {
    width: 100%;
    border-bottom: 10vh solid #cc6699;
    border-left: 1vw solid transparent;
    border-right: 1vw solid transparent;
}

.night-fb2a {
    width: 100%;
    border-bottom: 10vh solid #000;
    border-left: 1vw solid transparent;
    border-right: 1vw solid transparent;
}

.fb2b {
    width: 100%;
    height: 75%;
    background-color: #cc6699;
}

.night-fb2b {
    width: 100%;
    height: 75%;
    background-color: #000;
}

.fb2-window {
    width: 22%;
    height: 100%;
    background-color: #d98cb3;
}

.night-fb2-window {
    width: 22%;
    height: 100%;
    background-color: #777;
}

.fb3 {
    width: 10%;
    height: 35%;
}

.fb3a {
    width: 80%;
    height: 15%;
    background-color: #aa80ff;
}

.night-fb3a {
    width: 80%;
    height: 15%;
    background-color: #000;
}

.fb3b {
    width: 100%;
    height: 35%;
    background-color: #aa80ff;
}

.night-fb3b {
    width: 100%;
    height: 35%;
    background-color: #000;
}

.fb3-window {
    width: 25%;
    height: 80%;
    background-color: #bb99ff;
}

.night-fb3-window {
    width: 25%;
    height: 80%;
    background-color: #777;
}

.fb4 {
    width: 8%;
    height: 45%;
    position: relative;
    left: 10%;
}

.fb4a {
    border-top: 5vh solid transparent;
    border-left: 8vw solid #aa80ff;
}

.night-fb4a {
    border-top: 5vh solid transparent;
    border-left: 8vw solid #000;
}

.fb4b {
    width: 100%;
    height: 89%;
    background-color: #aa80ff;
    display: flex;
    flex-wrap: wrap;
}

.night-fb4b {
    width: 100%;
    height: 89%;
    background-color: #000;
    display: flex;
    flex-wrap: wrap;
}

.fb4-window {
    width: 30%;
    height: 10%;
    border-radius: 50%;
    background-color: #bb99ff;
    margin: 10%;
}

.night-fb4-window {
    width: 30%;
    height: 10%;
    border-radius: 50%;
    background-color: #777;
    margin: 10%;
}

.fb5 {
    width: 10%;
    height: 33%;
    position: relative;
    right: 10%;
    background: repeating-linear-gradient(
            #66cc99,
            #66cc99 5%,
            transparent 5%,
            transparent 10%
    ),
    repeating-linear-gradient(
            90deg,
            #66cc99,
            #66cc99 12%,
            #8cd9b3 12%,
            #8cd9b3 44%
    );
}

.night-fb5 {
    width: 10%;
    height: 33%;
    position: relative;
    right: 10%;
    background: repeating-linear-gradient(
            #000,
            #000 5%,
            transparent 5%,
            transparent 10%
    ),
    repeating-linear-gradient(
            90deg,
            #000,
            #000 12%,
            #777 12%,
            #777 44%
    );
}

.fb6 {
    width: 9%;
    height: 38%;
    background: repeating-linear-gradient(
            90deg,
            #cc6699,
            #cc6699 10%,
            transparent 10%,
            transparent 30%
    ),
    repeating-linear-gradient(
            #cc6699,
            #cc6699 10%,
            #d98cb3 10%,
            #d98cb3 30%
    );
}

.night-fb6 {
    width: 9%;
    height: 38%;
    background: repeating-linear-gradient(
            90deg,
            #000,
            #000 10%,
            transparent 10%,
            transparent 30%
    ),
    repeating-linear-gradient(
            #000,
            #000 10%,
            #777 10%,
            #777 30%
    );
}

.cloud1 {
    animation: cloud-animation 120s linear infinite;
}

.cloud2 {
    animation: cloud2-animation 120s linear infinite;
}

@keyframes cloud2-animation {
    from {
        right: 0;
    }
    to {
        right: 100%;
    }
}

@keyframes cloud-animation {
    from {
        left: 0;
    }
    to {
        left: 100%;
    }
}