header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
}

.about-hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.introduction {
    width: 100%;
    max-width: 400px;
    color: rgb(95, 94, 94);
    font-size: medium;
    font-weight: 100;
    text-align: justify;
    font-family: Lora;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

nav a {
    text-decoration: none;
    background-color: black;
    border-radius: 5px;
    padding: 0.5rem;
    color: white;
}

.hero {
    padding: 0 1rem;
}

.content-container {
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    padding: 1px 1rem 1rem 1rem;
}

.skill-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 100px;
}

.content-heading-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.line {
    border: 1px solid rgb(202, 191, 191);
    width: 100%;
    height: 1px;
}

.skill-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: start;
    width: 100%;
    gap: 2rem;
}

.skill-title {
    font-size: 1rem;
}

.exp-img {
    width: 100px;
    height: 80px;
    object-fit: cover;
}

.exp-content {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.certificate-img {
    width: 400px;
    height: 250px;
    object-fit: cover;
}

.certificate-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.certificate-link {
    text-decoration: none;
    color: black;
}

.certificate-link:hover {
    text-decoration: underline;
}

.project {
    padding: 0 1rem;
}

.project-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.project-img {
    width: 250px;
    height: 146px;
    border-radius: 10px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.project-img:hover {
    border-radius: 0;
}

.project-name {
    text-align: center;
    font-size: 1rem;
}

.project-link {
    text-decoration: none;
    color: black;
}

.contact {
    padding: 0 1rem;
}

.scroll-to-top-button {
    position: fixed;
    bottom: 16px;
    right: 16px;
    border: none;
    background-color: rgb(25, 136, 170);
    color: white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.read-button {
    border: none;
    cursor: pointer;
    font-weight: 900;
}

@media  screen and (min-width: 720px) {
    .about-hero {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}