main {
  width: 100%;
  padding: 0.5rem;
  margin-top: 7rem;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid #e7e0e0;
  padding-bottom: 0.5rem;
  position: fixed;
  top: 0;
  background-color: white;
  width: 100%;
}

nav {
  display: flex;
  gap: 1rem;
}

nav a {
  text-decoration: none;
  color: black;
}

nav a:hover {
  text-decoration: underline;
}

.avatar {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  border: 1px solid #e7e0e0;
}

#hero {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  padding: 1rem;
  box-shadow: rgba(60, 64, 67, 0.3) 0 1px 2px 0, rgba(60, 64, 67, 0.15) 0 1px 3px 1px;
}

.wrapper h1 {
  font-family: Roboto, sans-serif;
  line-height: 1.25rem;
  font-size: .875rem;
  letter-spacing: .0142857143em;
  font-weight: 400;
  color: rgb(60, 64, 67);
}

.wrapper p {
  font-size: 20px;
  font-weight: 400;
  color: black;
}

.readmore-button {
  text-decoration: none;
  color: #1a0dab;
  font-family: Roboto, sans-serif;
  line-height: 1.25rem;
  font-size: 1rem;
  letter-spacing: .0142857143em;
  font-weight: 400;
}

#project {
  width: 100%;
}

.project-img {
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.project-link {
  flex-direction: column;
  text-decoration: none;
  width: 50%;
  margin: 0 auto;
}

.project-title {
  text-align: center;
}

.project-link:hover {
  cursor: pointer;
}





