body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

html {
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

@media screen and (min-width: 720px) {
  .nav-link {
    display: none;
  }

  .scroll-to-top-button {
    display: none;
  }
}